
body {
    background-color:white;
}
.register {
    background-color:white;
}

.register_first {
    height: 300px;
    background-color:rgb(6 142 158);
    background-image: radial-gradient(circle,#7FEFF5,rgb(6 142 158));;
    /* position: relative; */
}
.main_Reg {
    height: 100vh;
    background-color:white;
}
.empty_text {
    border-radius: 5%;
    border-color: red;
}
.full_text {
    border-radius: 5%;
   border-color: grey;
}


.register_second {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: white;
    border: 6px solid #057885;
    margin-bottom: -89px;
    /* margin: auto; */
    /* position: absolute; */
   /* bottom: -22px; */
   }
   .reg_sec_img{
       margin: auto;
   }

   .first_input {
    margin: auto;
    margin-top: 140px;
    width: 70%;
   }
   

   .first_btn {
    margin-top: 50px;
   }

   .second_input {
       margin: auto;
       margin-top: 20px;
       font-size: 12px;
       width: 70%;
   }

   .main_col {
       text-align: center;
    }

    .second_btn {
        margin-top: 30px;
        font-size: 12px;
    }
   