.income_list {
    margin: 20px ;
    width: 90%;
    border-radius: 2%;
    background-color: white;
}
.income_list_group {
    padding-right: 0;
}
.header {
    color:#07b0c3;
    font-size: 12px;
}
.list_btn {
    color: #07b0c3;
    background-color:white;
    border: 1px solid  #07b0c3;
    font-weight: bold;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
}
.list_btn:hover {
    background-color:white;
    color: #07b0c3;
    border: 1px solid  #07b0c3;
}
.base_list_btn {
    float: left;
}

.list_base_show {
    text-align: right;
   

}

.form_base_part {
    margin: 4%;
    font-size: 80%;
    color: #7f8fa6;
}
.income_list_part {
    text-align: right;
    font-size: 80%;
    color: #7B8788;
}
.income_list_part:nth-child(even) {
   background-color: #f5f6fa;
}

.income_list_part_amount {
    float: left;
}