.paykhoms_page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}

.main_khoms {
    margin: 10px ;
    width: 90%;
    border-radius: 2%;
    background-color: white; 
    height: 60%;
}

.paykhoms_list_group {
    padding-right: 0; 
}

.paykhoms_list_group_item {
    text-align: right;  
}
.title{
    background-color:#07b0c3;
    padding: 2%
}
.title_list {
    color: white;
    font-size: 80%;
    margin-right: 2%;
    display: inline-block;
}

.main_khoms_title {
    border-radius: 2%;
    height: 10%;
    background-color:#07b0c3;
    color: white;
   
}



.part_khoms {  
    width: 90%;
    border-radius: 2%;
    background-color: white; 
    
}

.after_pay {
    margin-top: 2%;
    text-align: center;
    color: #636e72;   
}
.after_pay_amount {
    color: #00b894
}

.before_pay {
    margin-top: 2%;
    text-align: center;
    color: red;  
}

.btn_pay {
    margin-top: 3%;
    margin-bottom: 2%;
    text-align: center;
    
}

.title_update_amount {
    display: inline-block;
    float: left;
}