
body {
    background-color:white;
}
.register {
    background-color:white;
}

.register_first {
    height: 300px;
    background-color:rgb(6 142 158);
    background-image: radial-gradient(circle,#7FEFF5,rgb(6 142 158));;
    /* position: relative; */
}
.main_Reg {
    height: 100vh;
    background-color:white;
}
.empty_text {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    width: 90%;
    border-color: red;

    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.full_text {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    width: 90%;
   border-color: grey;

   font-weight: 400;
    line-height: 1.5;
   background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.register_second {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: white;
    border: 6px solid #057885;
    margin-bottom: -89px;
    /* margin: auto; */
    /* position: absolute; */
   /* bottom: -22px; */
   }
   .reg_sec_img{
       margin: auto;
   }

   .first_input {
    margin-top: 140px;
      
   }
   

   .first_btn {
    margin-top: 50px;
   }

   .second_btn {
       margin-top: 20px;
       font-size: 12px;
   }

   .main_col {
       text-align: center;
    }

    .center_img {
        margin-left: auto;
    }

    .top_img {
        margin-top: 70px;
        margin-right: -33px;
    }
   