
body{
    background-color: lightgray;
}
.income_page {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    margin-bottom: 20%;
}

.income_list {
    margin: 20px ;
    width: 90%;
    border-radius: 2%;
    background-color: white;
    
}
.income_list_group {
    padding-right: 0;
   
    
}
.income_list_group_item {
  text-align: right;
}
.title{
    background-color:#07b0c3;
    padding: 2%
}

.income_btn {
    float: left;   
}

.title_list {
    color: white;
    font-size: 80%;
    margin-right: 2%;
}

.title_whole {
    padding:0;
    font-size: 80%;
    color:#7B8788;
}

.title_amount {
    font-size: 80%;
    color:#1dd1a1;
    float: left
}
