.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center; 
}

.each_part {
    float: left;
    width: 16%;
    padding: 10px;
    color:#07b0c3;
}