.asset_page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.asset_list {
    margin: 20px ;
    width: 90%;
    border-radius: 2%;
    background-color: white;  
}

.asset_list_group {
    padding-right: 0;
}

.asset_list_group_item {
    text-align: right;
}
.title {
    background-color:#07b0c3;
    padding: 2%
}